<!-- app-footer.component.html -->
<footer class="footer text-light py-5">
    <div class="container">
      <div class="footer-content row">
        <!-- Serving Section -->
        <div class="col-md-4">
          <i class="icon fa-solid fa-location-dot"></i>
          <h5>SERVING</h5>
          <p>Westchester County, NY and Surrounding Areas</p>

        </div>
  
        <!-- Hours Section -->
        <div class="col-md-4">
          <i class="icon fa-regular fa-clock"></i>
          <h5>HOURS</h5>
          <p>Mon - Sun: 7:00 am - 10:00 pm</p>
        </div>
  
        <!-- Contact Us Section -->
        <div class="col-md-4">
          <i class="icon fa-solid fa-phone-volume"></i>
          <h5>CONTACT US</h5>
          <p>Main: (914) 285-1500</p>
          <p>Mobile: (845) 405-6219</p>
          <!-- Add email and other contact details here -->
          <p>Email: julios2k91&#64;gmail.com</p>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-5">
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="icon-link" target="_blank" href="https://www.instagram.com/kingshighwayasphalt/"><i class="icon fa-brands fa-instagram"></i></a></li>
            <li class="ms-3"><a class="icon-link" target="_blank" href="https://www.facebook.com/Kingshighwayasphalt/"><i class="icon fa-brands fa-facebook"></i></a></li>
        </ul>
    </div>
    

  </footer>
  

  <!-- footer.component.html -->
<footer class="footer2 bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      <a href="#" class="text-dark pe-2">Privacy Policy</a>|
      <a href="#" class="text-dark ps-2 pe-2">Manage Consent Preferences</a>|
      <a href="#" class="text-dark ps-2 pe-2">Conditions of Use</a>|
      <a href="#" class="text-dark ps-2 pe-2">Notice and Take Down Policy</a>|
      <a href="#" class="text-dark ps-2">Website Accessibility Policy</a>
      <br>
      <span>© 2024 The content on this website is owned by us and our licensors. Do not copy any content (including images) without our consent.</span>
    </div>
  </footer>
  