.logo-container {
    text-align: center;
    margin: 0;
}

#logo {
    width: 250px;
    margin-top: 20px;
}

.request-bar-container {
    /* background-color: #2c0e3c; */
    background-image: linear-gradient(90deg, #2e0e3f 0, #15051e 100%) !important;
    height: 64px;
    margin: auto;
}

.request-appt-container {
    margin: auto;
}

.request-appt-container button {
    background-color: #7b4797;
}

.number-text {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin: auto 0 auto 0;
    padding: 0 15px 0 0;
}

.top-btns {
    border-width: 2px;
    width: 405px;
    margin: 10px 0 10px 0;
}

.btn-container {
    margin: auto;
    text-align: center;

}

.bar {
    background-color: white;
}

.request-appt-container:first-child {
    text-align: right;
}

.request-appt-container:last-child {
    text-align: left;
}

.social-logos {
    font-size: 24px;
    color: #ffffff;
    padding: 10px
}

.socials {
    display: flex;
    align-items: center;
}

.phone-email {
    justify-content: flex-end;
    align-items: center;
}

.links {
    text-decoration: none;
}

.float-container {
    /* height: 100px; */
    height: auto;
    /* Change this to auto for dynamic height */
    width: 50px;
    position: fixed;
    right: 0;
    top: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 10000000;
}

.hover-div {
    width: 100%;
    transition: width 0.3s;
    height: 29px;
    background-color: #7b4797;
    color: rgb(255, 255, 255);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 1px;
}

.hover-div span {
    width: 200px;
    transition: width 0.3s;
    line-height: 0;
}

.hover-div:hover span {
    width: 300px;
}

span {
    text-align-last: left;
    width: 50px;
    padding-right: 19px;
    padding-left: 19px;

}

.hover-div:hover {
    width: 300px;
    /* Set this to the expanded width */

}

.icons {
    background-color: #7b4797;
    color: white;
}

.nav-link{
    cursor: pointer;
}

.nav-link:hover {
    color: black;      /* Changes the text color to black */
    font-weight: bold; /* Makes the text bold */
}