.info{
    background-color: rgba(236,240,241,1);
    padding: 50px;
}

.icon{
    font-size: 40px;
}

.btn{
    background-color: #7b4797;
    color: white;
    width: 200px;
    border-radius: 2px;
}

input,
textarea,
select {
    border-color: rgba(123, 71, 151, 1) !important;
    background-color: rgba(236, 240, 241, 1)
}