<app-hero title="Contact Kings Highway Asphalt" imageUrl="../../assets/contact.webp"></app-hero>
<!-- contact.component.html -->
<div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6 p-5">
        <h2>Send Us a Message</h2>
        <p>Please fill out this short form and we'll contact you shortly.</p>
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Your Name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Your Email">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone:</label>
            <input type="tel" class="form-control" id="phone" placeholder="Your Phone Number">
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Message:</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
          </div>
          <button type="submit" class="btn">Send Us a Message</button>
        </form>
      </div>
      <div class="info col-md-3 pt-4 text-center">
        <div class="service-area mt-5 mb-4">
          <h3>Service Area</h3>
          <p class="m-0">Westchester County, NY, and Surrounding Areas</p>
          <p class="m-0"><strong>Main:</strong> (914) 228-1500</p>
          <p class="m-0"><strong>Mobile:</strong> (845) 405-6219</p>
          <p class="m-0">Call or text</p>
          <p class="m-0"><a href="mailto:julios2k91@gmail.com" class="link-dark">julios2k91&#64;gmail.com</a></p>
        </div>
        <div class="business-hours">
          <h3>Business Hours</h3>
          <p>Mon - Sun: 7:00 am - 10:00 pm</p>
        </div>
        <div class="social-icons mb-4">
          <a href="#" class="me-2"><i class="fab fa-facebook icon"></i></a>
          <a href="#" class="me-2"><i class="fab fa-instagram icon"></i></a>
        </div>
        <div class="payment-methods">
          <h3>We also accept payments via</h3>
          <i class="fab fa-cc-visa me-2 icon"></i>
          <i class="fab fa-cc-amex me-2 icon"></i>
          <i class="fab fa-cc-mastercard me-2 icon"></i>
          <i class="fab fa-cc-discover me-2 icon"></i>
          <i class="fas fa-money-bill-wave me-2 icon"></i>
          <i class="fas fa-check me-2 icon"></i>
          <p>+ Google Pay</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  